# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# VS Code
.vscode/

# Node
**/node_modules

# Nuxt
**/.nuxt
**/.output

# React
**/dist

# Uploads
server/uploads/*
!server/uploads/.gitkeep